#!/usr/bin/make -f

export DH_GOLANG_EXCLUDES := vendor
export GOFLAGS := -mod=vendor

export CGO_CFLAGS := -I/usr/include/x86_64-linux-gnu

%:
	dh $@ --buildsystem=golang

# disable dwz execution. Go binaries handle compression differently
override_dh_dwz:
