#!/usr/bin/make -f

export DH_GOLANG_EXCLUDES := vendor
export GOFLAGS := -mod=vendor

%:
	dh $@ --buildsystem=golang

# disable dwz execution. Go binaries handle compression differently
override_dh_dwz:
